/* css */
.main-layout {
    display: flex;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 16px;
}

.container {
    flex: 1;
    max-width: 1200px;
    padding: 0;
}

.sidebar {
    flex-shrink: 0;
    width: 200px;
    position: sticky;
    top: 80px;
    align-self: flex-start;
}

.accounts-links{
    position:static;
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-top:  0;
    margin-left: 40px;
    width: fit-content;

    padding:8px 10px;          /* równy top/bottom */
    border:1px solid #87267f;  /* to dodaje po 1px na górze i dole */
    border-radius:12px;
    background:rgba(255,255,255,.9);
    box-shadow:0 4px 12px rgba(10,37,64,.12); /* mniejszy cień = mniej “ciężki” dół */
}

.accounts-link{
    line-height:0;   /* usuwa dodatkową pionową przestrzeń od inline elementów */
    display:inline-flex;
    align-items:center;
}

.accounts-link img{
    display:block;   /* usuwa dolny “baseline gap” obrazka */
    width:70px;
    height:70px;
    object-fit:cover;
    border-radius:8px;
    border:1px solid #87267f;
}

.accounts-link:hover img{
    transform:translateY(-1px) scale(1.03);
    box-shadow:0 4px 10px rgba(25,118,210,.25);
    filter:saturate(115%);
}


@media (max-width: 768px) {
    .main-layout {
        flex-direction: column;
        padding: 8px;
    }

    .sidebar {
        width: 100%;
        position: static;
        order: 2;
    }

    .accounts-links {
        position: static;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: 60px;
        width: fit-content;
    }
    .accounts-link img{
        width:30px;
        height:30px;
    }
}


