<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kalendarz</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/account_links.css' %}">
    <link rel="stylesheet" href="{% static 'css/account_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/calendar_base.css' %}">

</head>
<body>
<header>
    <div class="nav">
        {% if url == 'month' %}
        <a class="btn secondary" href="{% url 'calendar_app:month' year=prev_month.year month=prev_month.month %}">◀ PREV </a>
        <a class="btn secondary" href="{% url 'calendar_app:month' year=next_month.year month=next_month.month %}">NEXT ▶</a>
        {% elif url == 'day' %}
        <a class="btn secondary" href="{% url 'calendar_app:day' year=prev_day.year month=prev_day.month day=prev_day.day %}">Poprzedni dzień</a>
        <a class="btn secondary" href="{% url 'calendar_app:day' year=next_day.year month=next_day.month day=next_day.day %}">Następny dzień</a>
        {% endif %}
    </div>
    <h1>{% block title %}{% endblock %}</h1>
    <div class="nav">
        <a class="btn" href="{% url 'calendar_app:month' year=today.year month=today.month %}">Dziś</a>
        <a class="btn secondary" href="/admin/">Admin</a>
    </div>
</header>
<div class="main-layout">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <aside class="sidebar">
        {% include 'accounts_links.html' %}
    </aside>
</div>

</body>
</html>
